<h1>Edit or Delete Card</h1>

<%= form_for @card, url: {action: "update"} do |f| %>

    <p>
    <%= f.label :front %><br>
    <%= f.text_area :front %>
  </p>

  <p>
    <%= f.label :back %><br>
    <%= f.text_area :back %>
  </p>

  <p>
    <%= f.submit %>
  </p>
<% end %>
