<br>
<br>
<%= render 'nav' %>

<h2><%=@card.subject.name %> cards</h2>

<div class="card_holder">
  <h2 id="front"><%= card.id.front %></h2>
  <h2 id="back"><%= card.id.back %></h2>
</div>
<br>
<br>
<%= link_to 'Previous Card', subject_card_path(@subject.id, @card.previous) %>
<a href="#" class="js-next" data-id="<%=@post.id%>">Next...</a>
<%= link_to 'Random Card', subject_card_path(@subject.id, @card.random) %><br>
<br>

<script type="text/javascript" charset="utf-8">
$(function () {
  $(".js-next").on("click", function() {
    var nextId = parseInt($(".js-next").attr("data-id")) + 1;
    $.get("/cards/" + nextId + "/card_data", function(data) {
      $(".cardFront").text(data["front"]);
      $(".cardBack").text(data["back"]);
      // re-set the id to current on the link
      $(".js-next").attr("data-id", data["id"]);
    });
  });
});
</script>

<%= render 'links' %>
