<br>
<br>

<%= render 'nav' %>

<h2><%=@subject.name %> cards</h2>

<div class="card_holder">
  <h2 class="front"><%= @card.front %></h2>
  <h2 class="back"><%= @card.back %></h2>
</div>
<br>
<br>
<br>

<script type="text/javascript" charset="utf-8">
$(function () {
  $(".js-next").on("click", function() {
    var nextId = parseInt($(".js-next").attr("data-id")) + 1;
    $.get("/cards/" + nextId + "/card_data", function(data) {
      $(".cardFront").text(data["front"]);
      $(".cardBack").text(data["back"]);
      // re-set the id to current on the link
      $(".js-next").attr("data-id", data["id"]);
    });
  });
});
</script>

<%= render 'links' %>
